.header {
  height: 50px;
}
.navigation {
  display: flex;
  height: 100%;
  background-color: aliceblue;
}
.navigation__link {
  align-self: center;
  margin-left: 16px;
}
.navigation p {
  margin: 0;
}
.navigation__ip-address {
  align-self: center;
  justify-content: flex-start;
  padding-left: 6px;
}
.navigation__user {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 6px;
}
.login {
  display: flex;
  margin: auto;
  background-color: aliceblue;
  width: 320px;
  border-radius: 18px;
  box-shadow: 1px 1px 5px #888888;
  margin-top: 24px;
}
.login__username {
  display: flex;
  justify-content: center;
  padding: 24px 24px 6px;
}
.login__password {
  display: flex;
  justify-content: center;
  padding-left: 12px;
}
.login__submit {
  display: flex;
  justify-content: center;
  padding: 12px 0 16px;
}
