<html>
	<head>
	<link rel="stylesheet" type="text/css" media="all" href="css/styles.scss"/>
	<script src="webjars/jquery/2.1.4/js/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
	<title>User Repository Application</title>
	</head>
	<body>
		<div class="header">
			<div class="navigation">
				<p class="navigation__ip-address" th:text="'IP: ' + ${ip}"></p>
				<a href="/index" class="navigation__link">Home</a>
				<a href="/messageCenter" class="navigation__link">Message Center</a>
				<div class="navigation__user">
					<p style="padding-right:16px" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>
					<form th:action="@{/logout}" style="margin:auto" method="post">
		            	<input class="btn btn-danger" type="submit" value="Sign Out"/>
		        	</form>
	        	</div>		
			</div>
		</div>
		<div class="content">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Username</th>
						<th>Company</th>
						<th>Email</th>
						<th>Location</th>
						<th>Action</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="user : ${userList}">
						<td th:text ="${user.username}"></td>
						<td th:text ="${user.company}"></td>
						<td th:text ="${user.email}"></td>
						<td th:text ="${user.address}+', '+${user.postalCode}+ ' ' +${user.city}"></td>
						<td>
							<a th:href="@{/removeUser/{id}(id=${user.id})}" class="btn btn-danger">Remove</a>
						</td>
					</tr>
				</tbody>
			</table>
	        
	        <h2>Add new user</h2>
	        <form class="form-inline" action="/addUser" method="POST">
	        	<div class="form-group">
	        		<input class="form-control" type="text" required="required" id="User" name="username" placeholder="Enter username"/>
	        	</div>
  		      	<div class="form-group">
	        		<input class="form-control" type="text" required="required" id="User" name="company" placeholder="Enter company"/>
	        	</div>
	        	<div class="form-group">
	        		<input class="form-control" type="email" required="required" id="User" name="email" placeholder="Enter email"/>
	        	</div>
	        	<br />
	        	<h3>Location data</h3>
	        	<div class="form-group">
	        		<input class="form-control" type="text" required="required" id="User" name="address" placeholder="Enter address"/>
	        	</div>
	        	<div class="form-group">
	        		<input class="form-control" type="text" required="required" id="User" name="postalCode" placeholder="Enter postalcode"/>
	        	</div>
	        	<div class="form-group">
	        		<input class="form-control" type="text" required="required" id="User" name="city" placeholder="Enter city"/>
	        	</div>
	        	<br />
	        	<input class="btn btn-success" type="submit" value="Add"/>
	        </form>
		</div>
	    <div class="panel-footer"></div>
	</body>
</html>