<html>
	<head>
	<link rel="stylesheet" type="text/css" media="all" href="css/styles.scss"/>
	<script src="webjars/jquery/2.1.4/js/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/sockjs.js"></script>
	<script src="js/stomp.js"></script>
	<script src="js/messages.js"></script>
	<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
	<title>User Repository Application</title>
	</head>
	<body>
		<div class="header">
			<div class="navigation">
				<p class="navigation__ip-address" th:text="'IP: ' + ${ip}"></p>
				<a href="/index.html" class="navigation__link">Home</a>
				<a href="/messageCenter.html" class="navigation__link">Message Center</a>
				<div class="navigation__user">
					<p style="padding-right:16px" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>
					<form th:action="@{/logout}" style="margin:auto" method="post">
		            	<input class="btn btn-danger" type="submit" value="Sign Out"/>
		        	</form>
	        	</div>		
			</div>
		</div>
		<div class="content">
			<h2>Messages</h2>
			<div>
				<input class="form-control" type="text" id="from" style="width:200px" placeholder="Choose a nickname"/>
			</div>
			<br />
		    <div>
		        <button id="connect" class="btn btn-success" onclick="connect();">Connect</button>
		        <button id="disconnect" class="btn btn-danger" disabled="disabled" onclick="disconnect();">Disconnect</button>
		    </div>
		    <br />
		    <div id="conversationDiv">
		        <textarea class="form-control" id="text" style="width:400px" placeholder="Write a message..."></textarea>
		        <br />
		        <button id="sendMessage" class="btn btn-primary" onclick="sendMessage();">Send</button>
		        <p id="response"></p>
		    </div>
		</div>
	    <div class="panel-footer"></div>
	</body>
</html>